cluster_bootstrap = ${bootstrap_server}
cluster_api_key = ${kafka_cluster_key}
cluster_api_secret = ${kafka_cluster_secret}
schemaregistry_url = ${sr_endpoint}
schemaregistry_api_key = ${sr_env_key}
schemaregistry_api_secret = ${sr_env_secret}